/**
 * Main Sass file for Tin Box Bakeshop Website
 */

/* Add container items here or all children of this container */
.tinbox {
}

/* Top section */
.tb-top {
    padding: 20px 0px;
}

/* Main section */
.tb-main {
}

/* Footer */
.tb-footer {
    padding: 20px 0px;
}

/* Any section container used in the above sections */
.tb-section {
    padding: 15px;
}
