---
layout: default
---

<div class="container tinbox">
    <div class="row tb-top">
        <div class="col-xs-6 col-xs-offset-3 col-md-3 col-md-offset-2">
            <img src="/images/133x131-logo.png" alt="logo" />
        </div>
    </div> <!-- end row -->
    <div class="row tb-main">
        <div class="col-md-9 col-md-offset-2">
            <div class="row">
                <div class="col-md-6">
                    {% include welcome.html %}
                </div> <!-- end col-md-6 -->
                <div class="col-md-5 col-md-offset-1">
                    {% include updates.html %}
                </div> <!-- end col-md-5 -->
            </div> <!-- end row -->
        </div> <!-- end col-md-9 -->
    </div> <!-- end row -->
</div> <!-- end container -->
