<div class="text-center tb-section">
    <div class="tb-title">
        <span class="text-uppercase">updates</span>
    </div>
    <div class="row">
        <p>
        For photos, updates, and specials, please follow along on Instagram, Facebook, and Twitter.
        </p>
        <ul class="list-inline tb-social">
            <li>
            <a target="_blank" href="//www.facebook.com/tinboxbakeshop"><i class="fa fa-facebook-official">&nbsp;</i></a>
            </li>
            <li>
            <a target="_blank" href="//instagram.com/tinboxbakeshop"><i class="fa fa-instagram">&nbsp;</i></a>
            </li>
            <li>
            <a target="_blank" href="//twitter.com/tinboxbakeshop"><i class="fa fa-twitter">&nbsp;</i></a>
            </li>
        </ul>
    </div> <!-- end row -->
</div>
